.body-background {
    background-color: #1e2d4e;
}

#content{
    max-width: 1500px;
    margin: 0 auto; 
} 

#cabecero {
    color: rgb(201, 201, 216);
    box-align: center;
    text-align: center;
}

.logo {
    height: 80px;
    width: 200px;
    float: left;
}

.doscolumns {
    display: flex;
    flex-direction: row;
}

#paragraf1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #115626;
}
.img_web {
    height: 300px;
    width: 650px;
    padding-left: 200px;
}
.img_software {
    height: 300px;
    width: 500px;
    padding-left: 200px;
}

#paragraf2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #031130;
}

.tittle {
    text-align: center;
    font-size: 30px;
    color: rgb(60, 44, 133);
    font-style: italic;
}

#paragraf3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(78, 24, 7);
}
.img_tic {
    height: 300px;
    width: 500px;
    display:block;
    margin:auto;
}

label {
    width: 40%;
    text-align: left;
    font-size: 20px;
}

input {
    width: 60%;
    border-radius: 5px;
}

textarea {
    width: 60%;
    border-radius: 5px;

}

select {
    width: 60%;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border-color: #115626;
    background-color: #115626;
    color: #fff;
    margin: 20px;
}

button:hover {
    background-color: #54C1F0;
    border-color: #54C1F0;
    color: #fff;
}

div {
    width: 100%;
    height: auto;
}

h1 {
    margin-bottom: 30px;
}

.space-input {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.space {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}

.space-output {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}



li a:hover {
    background-color: rgba(77, 74, 55, 0.426);
}

footer {
    text-align: left;
    padding: 3px;
    color: white;
}

hr {
    border-color: #874418;
    size: 8px;

}

.trt {
    color: #8D8174;
}

.trx {
    font-size: 20px;
}

.img-articles {
    width: 500px;
    display: block;
    margin: auto;
}

.space-check {
    margin-left: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
}