.body-background {
    background-color: rgb(179, 170, 170);
}

#cabecero {
    background: url("../img/amazonas1.jpg");
    width: 1900px;
    height: 250px;
}

.img-articles {
    width: 500px;
    display: block;
    margin: auto;
}

.divback {
    background-color: antiquewhite;
}
