.body-background {
    background-color: #1e2d4e;
}

#content{
    max-width: 1500px;
    margin: 0 auto; 
  } 

header {
    color: rgb(201, 201, 216);
    box-align: center;
    text-align: center;
}

.logo {
    height: 80px;
    width: 200px;
    float: left;
}

#principal{
    text-align: center;
    font-family: cursive;
    color: rgb(61, 22, 99);
    font-size: 50;
}

.tittle {
    text-align: center;
    font-size: 60px;
    color: rgb(94, 14, 42);
    font-style: italic;
}
label {
    width: 40%;
    text-align: left;
    font-size: 20px;
}

input {
    width: 60%;
    border-radius: 5px;
}

textarea{
    width: 60%;
    border-radius: 5px;
    
}

select {
    width: 60%;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border-color: #115626;
    background-color: #115626;
    color: #fff;
    margin: 20px;
}

button:hover {
    background-color: #54C1F0;
    border-color: #54C1F0;
    color: #fff;
}

div {
    width: 100%;
    height: auto;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}
h3 {
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}

.space-input {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.space {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}

.space-output {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

header {
    color: rgb(201, 201, 216);
    box-align: center;
    text-align: center;
}

li a:hover {
    background-color: rgba(77, 74, 55, 0.426);
}

footer {
    text-align: left;
    padding: 3px;
    color: white;
}

hr {
    border-color: #874418;
    size: 8px;

}

.trescolumns {
    display: flex;
    flex-direction: row;
}

.columns {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}



.trt {
    color: #573d21;
}

.trx {
    font-size: 25px;
    font-style: italic;
}

.trt1{
    color: #0c3d20;
}

.trx1 {
    font-size: 20px;
    font-style:normal;
}

.trt2{
    color:rgb(4, 43, 43);
}

.trx2 {
    font-size: 20px;
    font-family:monospace;
    font-style: italic;
}


.img-articles {
    width: 800px;
    display: block;
    margin: auto;
}

.space-check{
    margin-left: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
}